.PlayerProfiles {
    text-align: center;
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .data-table th,
  .data-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .data-table th {
    background-color: #f4f4f4;
  }
  
  .data-table tr:hover {
    background-color: #f4f4f4;
  }
/* Suggestion CSS */ 
  .suggestions {
    position: relative;
  }
  
  /* Style for each suggestion item */
  .suggestion {
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 85%; 
    max-width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px auto;
  }    

  
  /* Hover effect */
  .suggestion:hover {
    background-color: #f0f0f0;
  }

  /* Style for the selected suggestion */
.suggestion.selected {
  background-color: #f0f0f0;
}

/* Style for the selected data container */
.selected-data {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
}

/* Style for the search box in the middle of the screen */
.search-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Style for the search box at the top of the screen */
.search-top {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000; /* Ensure it's above other content */
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-top .suggestion {
  width: 15% !important
}

.playerSearch {
  text-align: center;
}
  