.matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;  }
  
  .data-matrix {
    border-collapse: collapse;
    width: 40%;
    margin-top: 20px;
    table-layout: auto;
  }
  
  .data-matrix th,
  .data-matrix td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping within cells */
    overflow: hidden; /* Hide any overflow to keep cell contents visible */
    text-overflow: ellipsis;
  }
  
  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative;
  }
  
  .filter-label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .filter-select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
  }
  
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }
  
  /* Apply conditional formatting colors */
.positive {
    background-color: #c1e6c1; /* Light green */
  }
  
.negative {
    background-color: #ffc1c1; /* Light red */
  }
  
.nogames {
    background-color: black;
  }

.neutral {
    background-color: #feffb4;
}